<nz-page-header
  class="site-page-header"
  nzBackIcon
  nzTitle="Kira"
  nzSubtitle="Web design by Kira ute"
></nz-page-header>

<nz-tabset>
  <nz-tab nzTitle="List product 1">
    <nz-table #basicTable [nzData]="listProduct1">
      <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Images</th>
        <th>Category</th>
      </tr>
      </thead>
      <tbody>
        @for (data of basicTable.data; track data) {
          <tr>
            <td>{{ data.title }}</td>
            <td>{{ data.price | currency }}</td>
            <td>
              <img
                nz-image
                width="100px"
                height="100px"
                [nzSrc]="data?.images[0]"
                alt="Kira"
              />
            </td>
            <td>
              {{ data?.category?.name }}
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="4" class="text-center">No data</td>
          </tr>
        }
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="List product 2">
    <nz-table #basicTable1 [nzData]="listProduct2">
      <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Images</th>
        <th>Category</th>
      </tr>
      </thead>
      <tbody>
        @for (data of basicTable1.data; track data) {
          <tr>
            <td>{{ data.title }}</td>
            <td>{{ data.price | currency }}</td>
            <td>
              <img
                nz-image
                width="100px"
                height="100px"
                [nzSrc]="data?.image"
                alt="Kira"
              />
            </td>
            <td>
              {{ data?.category }}
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="4" class="text-center">No data</td>
          </tr>
        }
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>
